@model AspMoment3.Models.Artist

@{
    ViewData["Title"] = "Ändra artist";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="album mt-4 col-md-5 col-11">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtistID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div id="links" class="text-center">
    <a asp-action="Index" class="mt-4 d-inline-block">Tillbaka</a>
</div>
